.settings-route-container {
    display: flex;
    flex-direction: columns;
    padding: 20px;
    height: 100vh; /* Full viewport height */
    background-color: #f4f4f9; /* Light background color */
  }
  .delete-institutes-card {
    display: flex;
    flex-direction: column;
  }
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .institutes-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  .delete-institutes-heading {
    font-size: 20px;
    margin-bottom: 0px;
    padding-bottom: 4px;
  }
  
  .institutes-table th,
  .institutes-table td {
    border: 1px solid #0f0404;
    text-align: center;
    padding: 8px;
  }
  
  .institutes-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #579B96;
    color: black;
  }
  
  .delete-button {
    background: none;
    border: none;
    cursor: pointer;
    color: red;
  }
  
  .delete-button:hover {
    color: darkred;
  }
  