.info-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vw;
}
.info-logo-style {
    height: 150px;
    width: 150px;
}
.info-welcome {
    margin-top: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: bold;
}
.info-location {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    padding-top: 0px;
}
.info-institute-name {
    margin-top: 4px;
    font-size: 28px;
    margin-bottom: 4px;
    background: linear-gradient(90deg, rgba(8,27,133,1) 37%, rgba(0,212,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-family: "Roboto";
}